# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.PathFinder.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kevin\source\repos\PathFinder\.idea\.idea.PathFinder\.idea/dataSources/
/dataSources.local.xml
